<ion-view title="Dashboard">
  <ion-content>
  
     <div class="list">
     		<a class="item item-thumbnail-left" ui-sref="tab.prayer-category">
     			<img src="img/dashboard/prayer.png">
                <h2>Prayers</h2>
     		</a>
     		<a class="item item-thumbnail-left" ui-sref="tab.saints">
                <img src="img/dashboard/saint.png">
     			<h2>Saints</h2>
     		</a>
     		<a class="item item-thumbnail-left" ng-click="openApplication()">
     			<img src="img/dashboard/bible.png">
                <h2>Bible</h2>
     		</a>
            <a class="item item-thumbnail-left" ui-sref="tab.daily-bread">
                <img src="img/dashboard/bread.png">
                <h2>Daily Bread</h2>
            </a>
     		<a class="item item-thumbnail-left" ui-sref="tab.dophome">
                <img src="img/dashboard/dioceselogo.png">
     			<h2>Diocese of Pasig</h2>
     		</a>
     		<a class="item item-thumbnail-left" ui-sref="tab.worship-songs">
     			 <img src="img/dashboard/worship.png">
                <h2>Worship Songs</h2>
     		</a>
     </div>

   
  </ion-content>
</ion-view>

