<ion-view title="Prayers">
  <ion-content class="padding">
    <div class="list">
    	<a class="item" ui-sref="tab.daily-living">
    		Prayers for Daily Living
    	</a>
    	<a class="item" ui-sref="tab.special-prayers">
    		Special Prayers
    	</a>
    	<a class="item" ui-sref="tab.prayers-to-saints">
    		Prayers to the Saints
    	</a>
    	<a class="item" ui-sref="tab.devotional-prayers">
    		Devotional Prayers
    	</a>
    	<a class="item" ui-sref="tab.rosary">
    		Rosary
    	</a>

    </div>
  </ion-content>
</ion-view>
