<ion-view title="About the Diocese">
  <ion-content>
	  <div class="list card">
	  	<div class="item item-thumbnail-left">
	  		<img src="img/diocese/diocese-logo.png">	
	  		<h2>About the Diocese</h2>
	  		<p>History</p>
	  	</div>

		  	<div class="item item-divider">
		  		Ano ang Diyosesis
		  	</div>
		  	<div class="item item-body">
		  		<p>Ang Diyosesis ay kalipunan ng mga parokya sa isang natatanging pook. Ito ay isang bahagi ng bayan ng Diyos, o isang pamayanan ng mga binyagang mananampalataya na nagpapahayag ng magkatulad at iisang pananalig na Katolika at nakikibahagi sa mga Banal na Sakramento. (cf. Canon 369)<br/>

				Ang isang Diyosesis ay tinatawag din na Lokal na Simbahan na kung saan ang Nag-iisa, Banal, Katolika at Apostolikong Simbahan ni Kristo ay tunay na nabubuhay at gumaganap ng tungkulin.<br/>

				Ito ay ipinagkakatiwala sa pangangalaga at pamumuno ng isang Obispo, na siya ring Panuntunan at Batayan ng Pagkakaisa. Ang Obispo ang karaniwan, natatangi at pinakamataas na pastor ng Diyosesis. Nguni’t ang Obispo ay hindi gumaganap ng tungkulin nang nag-iisa, bagkus ay pinamamahalaan niya ang Diyosesis sa pakikipagtulungan ng mga layko at relihiyosong naglilingkod at ng presbyterium (ang pamayanan ng mga paring kasama sa Diyosesis) nang may pakikipag-isa sa iba pang mga Obispo at sa Santo Papa.</p>
		  	</div>
		  	<div class="item item-divider">
		  		Pagka-katatag
		  	</div>
		  	<div class="item item-body">
		  		<p>
		  			Ang Diyosesis ng Pasig ay itinatag sa Roma noong ika-26 ng Hunyo 2003 aty ang nahirang na Obispo ay itataga sa ika-21 ng Agosto 2003 at ang nahirang na Obispo ay itatalaga sa ­ika-21 ng Agosto 2003 sa Cathedral of the Immaculate Conception, sa Malinao, Lungsod ng Pasig na siya ring  magiging luklukan ng Diyosesis ng Pasig dahil ito ay isa sa pinakamatanda at pinakamalaking parokya sa Pasig at sentrong lugar ng mga parokyang nasasakop ng diyosesis ng Pasig.
		  		</p>
		  	</div>

		  	<div class="item item-divider">
		  		Obispo
		  	</div>

		  	<div class="item item-body">
		  		<p>
		  			Ang nahirang upang mamahala at mangalaga sa Diyosesis ng Pasig ay si <a ng-click="showAlert()" style="text-decoration:underline">Obispo Francisco C. San Diego, D.D.</a>, ang dating Obispo ng Diyosesis ng San Pablo at dati ring Apostolic Vicar ng Palawan. Siya ay tubong Obando, Bulakan.
					Tinanggap ng Santo Papa Benedicto XVI ang kanyang pagbibitiw sa tungkulin noong Disyembre 23, 2010.
					Ang ikalawa at kasalukuyang obispong nahirang ay si<a ng-click="mylo()" style="text-decoration:underline"> Obispo Mylo Hubert Claudio Vergara</a>, D.D. Pormal niyang tinanggap ang kanyang tungkulin noong Hunyo 23, 2011.
		  		</p>
		  	</div>

	  </div>
  </ion-content>
</ion-view>
