<ion-view title="Diocese of Pasig">
 <ion-header-bar class="bar-positive">
     <ion-nav-buttons side="right">
         <button class="button button-icon icon ion-more" ng-click="popover.show($event)"></button>
     </ion-nav-buttons>
  </ion-header-bar>
  <ion-content>
     <ion-slide-box on-slide-changed="slideHasChanged($index)">
			  <ion-slide>
			   	<img src="img/diocese/pasigcat1.png">
			  </ion-slide>

			  <ion-slide>
			    <img src="img/diocese/pasigcat2.png">
			  </ion-slide>

			  <ion-slide>
			    <img src="img/diocese/pasigcat3.png">
			  </ion-slide>
		</ion-slide-box>

		<h3 style="text-align:center;">Diocese of Pasig</h3>

		<div class="list">
			<div class="item item-divider">
				<h2 style="text-align:center">Vision</h2>
			</div>
			<div class="item item-body">
				<p>We, the People of God in the diocese of Pasig, with total trust in Gods love, envision ourselves as Community of Disciples of JesusChrist Proclaiming the Gospel of Love and Life</p>
			</div>
			<div class="item item-divider">
				<h2 style="text-align:center">Mission</h2>
			</div>
			<div class="item item-body">
				<p>To realize our vision under the guidance of the spirit of God, throughthe intercession of the Immaculate Conception, we shall embark on a renewed evangelization by integral faith formation, making the family as a focal point of evangelization, journeying with the youth, seeking the active participation of the poor among us, and building and strengthening of the participatory church through Basic Ecclesial Communities</p>
			</div>
		</div>
  </ion-content>
</ion-view>
