<ion-view title="Vicariates">
  <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-more" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content>
  
  <div class="list">
      <a class="item" ui-sref="tab.immaculate">
        <h2>Immaculate Conception</h2>
      </a>
      <a class="item" ui-sref="tab.stdv">
        Sto. Tomas de Villanueva
      </a>
      <a class="item" ui-sref="tab.nino">
        Sto.Niño 
      </a>
      <a class="item"  ui-sref="tab.anne">
        Sta. Anna
      </a>

  </div>
  </ion-content>
</ion-view>
