/* Empty. Add your own CSS if you like */


.card img{
	width: 100%;
}

.nightMode .item{
    background-color: black;
}
.nightMode .item p{
	color:#fff;
}

.title-image {
    margin-top: 0px !important;
    height: 30px;
}